## Homework
1. Ask the user to introduce with the keyboard a string s and a number n and show in the screen n times the string s (without spaces between words).
>s="hola, n=3<br/>
holaholahola

In [1]:
s<- readline("Input string: ")
n<- readline("Input number: ")

out<- rep(s, n)
paste(out, collapse = '')

Input string: a
Input number: 2

[1] "aa"

2. Create three files called dos.txt, tres.txt and cinco.txt containing the table of 2, 3 and 5 respectively (only include the first 10 values of each, one number in a separate line).

In [3]:
multiplica<- 1:10

write.table(matrix(2 * multiplica, nrow = 10), "dos.txt", row.names=F, col.names=F)
write.table(matrix(3 * multiplica, nrow = 10), "tres.txt", row.names=F, col.names=F)
write.table(matrix(5 * multiplica, nrow = 10), "cinco.txt", row.names=F, col.names=F)

3. Load the three files created in the last exercise and create a matrix with three columns, one for each file conent.

In [4]:
tabla_dos<- scan("dos.txt")
tabla_tres<- scan("tres.txt")
tabla_cinco<- scan("cinco.txt")

m_tablas<- cbind(tabla_dos, tabla_tres, tabla_cinco)
m_tablas

      tabla_dos tabla_tres tabla_cinco
 [1,]  2         3          5
 [2,]  4         6         10
 [3,]  6         9         15
 [4,]  8        12         20
 [5,] 10        15         25
 [6,] 12        18         30
 [7,] 14        21         35
 [8,] 16        24         40
 [9,] 18        27         45
[10,] 20        30         50

4. Write the first five rows of the matrix created in the last exercise in a new file called prime.txt and the last five in another file called fin.txt. Both files must have the data separated by commas.

In [5]:
write.table(m_tablas[1:5, ], "prime.txt", row.names = F, sep = ",") 
# write.table(head(m_tablas, 5), "prime.txt", row.names = F, sep = ",") 

write.table(m_tablas[6:10, ], "fin.txt", row.names = F, sep = ",") 
# write.table(tail(m_tablas, 5), "fin.txt", row.names = F, sep = ",")

5. Given two numbers, f and c (given by the user using the keyboard), create a square figure of f rows and c collumns with character "x" (without spaces). See an example for f=4 and c=3 below:
> xxx<br/>
 xxx<br/>
 xxx<br/>
 xxx<br/>

In [6]:
f<- readline("Input rows: ")
c<- readline("Input columns: ")

rows<- paste(rep("x", c), collapse = '')
cat(paste(rep(rows, f), collapse = "\n"))

Input rows: 4
Input columns: 3
xxx
xxx
xxx
xxx