## Homework (1st part)
1. Create a string array contaning your first name and last names (e.g., ["Rocio", "Romero", Zaliz"]). Using that array and the R functions you just learned create a new string with the initial of your first name, a dot, and your last names (e.g., "R. Romero Zaliz").

In [1]:
my_name<- c("Rafael", "Vazquez", "Conejo")
my_name

new_name<- paste(paste(substr(my_name[1],1,1), '.', sep = ""), my_name[2], my_name[3])
new_name

[1] "Rafael"  "Vazquez" "Conejo"

[1] "R. Vazquez Conejo"

2. Given an array of strings representing dates (e.g., [“2005-11-28”, “2015-10-18”, “2000-01-01”]), show only those corresponding to odd months (use format YEAR-MONTH-DAY).

In [2]:
dates<- c("2005-11-28", "2015-10-18", "2000-01-01")
grep("[0-9]{4}-(0[1,3,5,7,9]|11)-[0-9]{2}", dates, value = T)

[1] "2005-11-28" "2000-01-01"

3. Given a string with several words (e.g., “Esta es una frase, pero no cualquier frase.”) create an array with each of the words in the string (e.g., ["Esta","es","una","frase","pero","no","cualquier","frase"]). Take into account all possible punctuation characters.

In [3]:
frase<- "Esta es una frase, pero no cualquier frase."
#necesito un separado cuando hay un signo de puntucación y un espacio y cuando acaba en signo de puntuacion
resultado<- unlist(strsplit(frase, split ="[[:blank:]]|[[:punct:]] |[[:punct:]]| "))
resultado

[1] "Esta"      "es"        "una"       "frase"     "pero"      "no"
[7] "cualquier" "frase"

4. Search in an array of strings those including only vocals "a" and/or "e" or none (check uppercase and lowercase).

In [4]:
ejemplo<- c("avion", "gris", "gata", "TREN", "caer", "UNION")
ejemplo[-grep("(.*[i|u|o|I|U|O].*)", ejemplo)]

[1] "gata" "TREN" "caer"

5. Given three numeric arrays representing days, months and years, create an array with dates (only if they are valid) (Hint: research the as.Date function).

In [5]:
days<- c("08", "21", "64", "12")
months<- c("02", "13", "10", "12")
years<- c("1999", "21", "2000", "1212")

dates<- as.Date(paste(years, months, days, sep = '-'), "%Y-%m-%d")
valid<- dates[!is.na(dates)]
valid

[1] "1999-02-08" "1212-12-12"

## Homework (2nd part)

Repeat homework (1st part) excersises using `stringr` functions:

In [7]:
library(tidyverse)
library(stringr)

Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 3.3.6       v purrr   0.3.2
v tibble  2.1.1       v dplyr   0.8.0.1
v tidyr   0.8.3       v stringr 1.4.0
v readr   1.3.1       v forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

1. Create a string array contaning your first name and last names (e.g., ["Rocio", "Romero", Zaliz"]). Using that array and the R functions you just learned create a new string with the initial of your first name, a dot, and your last names (e.g., "R. Romero Zaliz").

In [8]:
my_name<- c("Rafael", "Vazquez", "Conejo")
my_name

new_name<- my_name[1] %>% str_sub(0,1) %>%
  str_c(".", collapse = "") %>%
  str_c(my_name[2], my_name[3], sep = " ")

new_name

[1] "Rafael"  "Vazquez" "Conejo"

[1] "R. Vazquez Conejo"

2. Given an array of strings representing dates (e.g., [“2005-11-28”, “2015-10-18”, “2000-01-01”]), show only those corresponding to odd months (use format YEAR-MONTH-DAY).

In [9]:
dates<- c("2005-11-28", "2015-10-18", "2000-01-01")
dates %>% str_subset("[0-9]{4}-(0[1,3,5,7,9]|11)-[0-9]{2}")

[1] "2005-11-28" "2000-01-01"

3. Given a string with several words (e.g., “Esta es una frase, pero no cualquier frase.”) create an array with each of the words in the string (e.g., ["Esta","es","una","frase","pero","no","cualquier","frase"]). Take into account all possible punctuation characters.

In [10]:
frase<- "Esta es una frase, pero no cualquier frase."
#resultado<- unlist(strsplit(frase, split ="[[:punct:]] |[[:punct:]]| "))
resultado<- frase %>% str_split("[[:blank:]]|[[:punct:]] |[[:punct:]]| ")
resultado

[[1]]
[1] "Esta"      "es"        "una"       "frase"     "pero"      "no"
[7] "cualquier" "frase"     ""

4. Search in an array of strings those including only vocals "a" and/or "e" or none (check uppercase and lowercase).

In [11]:
ejemplo<- c("avion", "gris", "gata", "TREN", "caer", "UNION")
ejemplo[str_detect(ejemplo, "(.*[i|u|o|I|U|O].*)", negate = T)]

[1] "gata" "TREN" "caer"

5. Given three numeric arrays representing days, months and years, create an array with dates (only if they are valid) (Hint: research the as.Date function).

In [12]:
days<- c("08", "21", "64", "12")
months<- c("02", "13", "10", "12")
years<- c("1999", "21", "2000", "1212")


dates<- as.Date(str_c(years, months, days, sep = '-'), "%Y-%m-%d")
valid<- dates[!is.na(dates)]
valid

[1] "1999-02-08" "1212-12-12"